uwsgi
Flask==1.1.0
flask-cors
flask_restful
pytest
pytest-cov
feedparser
beautifulsoup4
requests
requests-mock
flask-sqlalchemy==2.4.1
flask_script
flask_migrate
pylint-flask
psycopg2
Flask-APScheduler