gunicorn
Flask==2.3.2
flask-cors
pytest
pytest-cov
feedparser
beautifulsoup4
requests
requests-mock
flask-sqlalchemy==2.4.1
flask_script
flask_migrate
pylint-flask
psycopg2
werkzeug
helpers
flask-jwt-extended
passlib
flask_restx
Flask-APScheduler
